[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pre-commit = "*"
"flake8" = "*"


[packages]

django = "*"
pip = "*"
phonenumbers = "*"
authy = "*"
python-dotenv = "*"


[requires]

python_version = "3.6"
