{% extends "base.html" %}

{% block container %}
<div class="row centered-form">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Quickstart Registration</h3>
      </div>
      <div class="panel-body">
        <form action="{% url 'register' %}" method="POST" role="form">
          
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.username.errors }}
            {{ form.email.errors }}
            {{ form.country_code.errors }}
            {{ form.phone_number.errors }}
            {{ form.password.errors }}

            <div class="row">
              {{ form.username }}
            </div>
            <div class="row">
              {{ form.email }}
            </div>
            <div class="row">
              {{ form.country_code }} {{ form.phone_number }}
            </div>
            <div class="row">
              {{ form.password }} {{ form.confirm_password }}
            </div>

            <input type="submit" value="Register" class="btn btn-info btn-block">
            <small style="float: right;"><a href="/login">Login</a></small>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}