{% extends "base.html" %}

{% block container %}
<div class="row centered-form">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Phone Verification</h3>
      </div>

      <div class="panel-body">
        <form role="form" method="POST">
          {% csrf_token %}

          {{ form.non_field_errors }}
          {{ form.token.errors}}

          <div class="row">
            {{ form.token }}

            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="submit" value="Verify Phone" class="btn btn-info btn-block">
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}